<div class="container">

<h1>Editing Feature</h1>

<%= render 'form' %>

<br>
<%= link_to 'View this Sheet', @feature, class: 'btn btn-success' %> |
<%= link_to 'All Sheets', features_path, class: 'btn btn-primary' %>
</div>